ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan a la siguiente línea */
}

ion-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-left: 1em;
    align-self: center;
    flex-shrink: 0;
}

ion-searchbar {
    width: 50%;
    margin-left: auto;
    margin-right: 1em;
    flex-shrink: 0; 
}